In [2]:
import pandas as pd

In [12]:
with open("puntuaciones_usuario_base.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id = lines[i]
    lugar = lines[i+1]
    ratio = lines[i+2]
    data.append([id, lugar, ratio])

# Convertimos a DataFrame
df_base = pd.DataFrame(data, columns=['id_usuario', 'id_lugar', 'ratio'])
df_base.head()

  id_usuario id_lugar ratio
0        123    17376     6
1        123    17377     6
2        123    17380     6
3        123    17392     3
4        123    17395     4

In [13]:
with open("puntuaciones_usuario_test.txt", "r", encoding="latin-1") as file:
    # Leemos todas las líneas del archivo
    lines = file.readlines()

# Limpiamos las líneas (removemos saltos de línea)
lines = [line.strip() for line in lines]

# Dividimos las líneas en grupos de 3
data = []
for i in range(0, len(lines), 3):
    id = lines[i]
    lugar = lines[i+1]
    ratio = lines[i+2]
    data.append([id, lugar, ratio])

# Convertimos a DataFrame
df_test = pd.DataFrame(data, columns=['id_usuario', 'id_lugar', 'ratio'])
df_test.head()

  id_usuario id_lugar ratio
0        123    17365     6
1        123    17366     3
2        123    17367     3
3        123    17369     6
4        123    17371     6

In [ ]:
df_base['ratio'] = (df_base['ratio'] - df_base['ratio'].min()) / (df_base['ratio'].max() - df_base['ratio'].min()) * 100
df_test['ratio'] = (df_test['ratio'] - df_test['ratio'].min()) / (df_test['ratio'].max() - df_test['ratio'].min()) * 100